<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549505241544-f0ode5m56kai0ev2st2mvmcmlsc65dgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549505241544-f0ode5m56kai0ev2st2mvmcmlsc65dgc</string>
	<key>API_KEY</key>
	<string>AIzaSyBWfjlhbYWy_qV7waLh9mJvw2Z7MIkfxZI</string>
	<key>GCM_SENDER_ID</key>
	<string>549505241544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.newn.chatnovel</string>
	<key>PROJECT_ID</key>
	<string>test-5913c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-5913c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:549505241544:ios:6c511cc0514a84ed</string>
	<key>DATABASE_URL</key>
	<string>https://test-5913c.firebaseio.com</string>
</dict>
</plist>