<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>447306018094-4k236idqu6qkdcllr355gsfl53qjot62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447306018094-4k236idqu6qkdcllr355gsfl53qjot62</string>
	<key>API_KEY</key>
	<string>AIzaSyCloFwrUo2yXbLVzgHGPtPu4cu0CiIf170</string>
	<key>GCM_SENDER_ID</key>
	<string>447306018094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.newn.chatnovel</string>
	<key>PROJECT_ID</key>
	<string>chatnovel-cef70</string>
	<key>STORAGE_BUCKET</key>
	<string>chatnovel-cef70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:447306018094:ios:6c511cc0514a84ed</string>
	<key>DATABASE_URL</key>
	<string>https://chatnovel-cef70.firebaseio.com</string>
</dict>
</plist>